@charset "UTF-8";
html, html * {
	font-family: "Rubik", "Verdana", sans-serif;
}
#wrapper {
	width: 1025px;
	margin-left: auto;
	margin-right: auto;
	background-image: url(images/halftone.png);
	background-repeat: repeat;
}
body {
	margin-top: -37px;
	background-color: #CFDFE6;
}
header {
	margin-top: 34px;
}
main {
	position: relative;
}
footer {
	height: 371px;
	background-color: #669AAD;
}
#logo {
	margin-top: 40px;
	margin-left: 40px;
	float: left;
}
#banner img {
	margin-top: 45px;
	margin-left: 85px;
}
#navbar {
	background-color: #F39C6C;
	margin-top: 15px;
	padding-left: 110px;
	float: none;
	overflow-x: hidden;
	overflow-y: hidden;
	height: 33px;
}
#navbar a {
	display: block;
	padding-left: 50px;
	padding-right: 50px;
	float: left;
	text-align: center;
	color: #FFFFFF;
	font-size: 13px;
	line-height: 33px;
	text-decoration: none;
	border-right: 1px solid #FFFFFF;
}
#navbar a:hover {
	color: #232323;
	background-color: #CB91B6;
}
#currentpage {
	background-color: #B55A96;
}
#currentpage2 {
	background-color: #B55A96;
}
#ad  {
	margin-left: 35px;
	margin-top: 116px;
	float: left;
	margin-right: 30px;
	height: 916px;
	padding-top: 77px;
}
#main-col2 {
	float: none;
	clear: none;
	position: absolute;
	left: 654px;
	top: 323px;
	right: 0px;
	width: 370px;
	margin-left: 140px;
	font-size: 12px;
}
#nextpage {
	margin-left: 569px;
	margin-bottom: 40px;
	padding-top: 0px;
	margin-top: -50px;
}
#nextpage a {
	color: #232323;
	text-decoration: none;
}
#nextpage a:hover {
	color: #B55A96;
	text-shadow: 0px 0px;
	-webkit-box-shadow: 5px 5px #F4A980;
	box-shadow: 5px 5px #F4A980;
}
#footer-top  {
	height: 33px;
	margin-top: 0px;
	padding-left: 110px;
	background-color: #F39C6C;
	overflow-x: hidden;
	overflow-y: hidden;
	float: none;
}
#footer-top a {
	display: block;
	padding-left: 50px;
	padding-right: 50px;
	float: left;
	font-size: 13px;
	line-height: 33px;
	text-decoration: none;
	text-align: center;
	color: #FFFFFF;
	border-right: 1px solid #FFFFFF;
}
#footer-top a:hover {
	color: #232323;
	background-color: #CB91B6;
}
#footer-bottom {
	color: #FFFFFF;
	clear: both;
}
#footer-bottom-col2 {
	width: 220px;
	margin-top: 45px;
	margin-left: 77px;
	margin-right: 40px;
	font-size: 13px;
	float: left;
}
#footer-bottom-col2 a {
	color: #FFFFFF;
	text-decoration: none;
}
#footer-bottom-col2 a:hover   {
	color: #626262;
}
#footer-bottom-col3 {
	width: 220px;
	float: left;
	color: #FFFFFF;
	font-size: 15px;
}
#footer-bottom-col3 a {
	color: #FFFFFF;
	text-decoration: none;
}
#footer-bottom-col3 a:hover {
	color: #626262;
	text-decoration: none;
}
#footer-bottom-col4 img {
	margin-top: 75px;
	margin-left: 66px;
}
.home {
	border-left: 1px solid #FFFFFF;
}
.ten-img {
	margin-left: -31px;
	margin-top: 20px;
}
.img {
	margin-top: 15px;
	margin-left: 192px;
	margin-right: 324px;
}
.bully {
	border-bottom: 4px solid #E9895C;
	padding-bottom: 21px;
	width: 335px;
	padding-right: 131px;
	padding-left: 16px;
	margin-left: 0px;
	margin-top: 20px;
}
.photel {
	padding-left: 16px;
	margin-top: 20px;
	margin-bottom: 120px;
}
.bullyp {
	margin-top: -148px;
	margin-bottom: 132px;
	margin-left: -192px;
	width: 376px;
}
.noirp {
	margin-bottom: 130px;
	margin-left: -192px;
	width: 376px;
}
.portp {
	margin-bottom: 111px;
	padding-bottom: 50px;
	width: 376px;
	margin-left: -192px;
}
.bag {
	width: 376px;
	margin-left: -192px;
}
.hotelp {
	padding-top: 120px;
	width: 376px;
	margin-left: -192px;
}
.contact {
	margin-right: 19px;
	font-weight: 600;
	font-size: 16px;
	color: #FFFFFF;
}
.email-2 {
	margin-right: 19px;
	margin-left: -17px;
	color: #FFFFFF;
	font-weight: 600;
	font-size: 16px;
}
.athens {
	margin-top: -16px;
	padding-left: 49px;
}
.footer-img {
	margin-right: 20px;
}
.twitter {
	margin-right: 14px;
}
.footer-insta {
	position: absolute;
	top: 1815px;
}
.footer-face {
	position: absolute;
	top: 1864px;
}
.footer-twitter {
	position: absolute;
	top: 1915px;
}
.footer-linked {
	position: absolute;
	top: 1961px;
}
