@charset "utf-8";

body {
	width: 960px;
	font-family: open-sans;
	color: #6F5A6B;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
}
h1 {
	font-family: "Abril Fatface";
	text-shadow: 0px 0px;
	color: #6F5A6B;
	font-size: 30px;
	padding-right: 0px;
	text-align: left;
	padding-top: 5px;
	padding-bottom: 5px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	padding-left: 20px;
}

#logo {
	float: left;
}
header {
	padding-left: 20px;
	height: 136px;
}

ul li a {
	color: #6F5A6B;
	text-decoration: none;
}
ul li a:hover {
	text-decoration: underline;
}




p {
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
}


html {
	width: 960px;
}
nav ul li {
	color: #6F5A6B;
	font-size: 24px;
	text-decoration: none;
	padding-left: 10px;
	padding-right: 10px;
	float: left;
	padding-bottom: 20px;
	padding-top: 20px;
	list-style-type: none;
}
main {
	margin-top: 20px;
	padding-top: 20px;
	margin-left: 20px;
	padding-right: 20px;
}
#wrapper #amberswork img {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

aside #events h2 {
}
#events {
	padding-left: 20px;
	padding-right: 20px;
	/* [disabled]padding-top: 10px; */
}
#featured {
}



p a {
	color: #6F5A6B;
	text-decoration: none;
	font-weight: bold;
}
#amberswork {
	padding-left: 20px;
	padding-right: 20px;
	margin-right: 20px;
	margin-left: 20px;
	margin-bottom: 20px;
}

#banner p img {
	width: 920px;
}

p a:hover {
	text-decoration: underline;
}


h3 {
	font-family: abril-fatface;
	font-style: normal;
	font-weight: 400;
	font-size: 35px;
	text-align: center;
	padding-bottom: 10px;
	margin-top: 10px;
}
.background {
	background-color: #F6F4F6;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 20px;
	margin-top: 20px;
}
#wrapper #headd p {
	font-family: abril-fatface;
	font-style: normal;
	font-weight: 400;
	font-size: 70px;
}

#numbers {
	position: relative;
	height: 629px;
}
#one , #two, #three, #four, #five{
	height: 565px;
	position: absolute;
	top: 0px;
	left: 0px;
}
ul.numbernav {
	width: 200px;
	height: 20px;
	padding-left: 0px;
	padding-right: 0px;
	position: absolute;
	top: 492px;
	left: 195px;
	font-size: 21px;
	font-family: abril-fatface;
	font-style: normal;
	font-weight: 400;


}
ul.numbernav li {
	float: left;
	list-style-type: none;
	width: 20%;
	text-align: center;

}
ul.numbernav li:hover  {
	cursor: pointer;


}
nav {
	padding-top: 16px;

}
.navbar {
	font-size: 20px;
}

#wrapper footer ul {
	float: right;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 20px;
	list-style-type: none;
}
.largenumber {
	font-size: 61px;
}


#wrapper footer #footer-col-1 {
	float: left;
	padding-left: 20px;
}
footer {
	border-top: 9px solid #6F5A6B;
}
h2 {
	font-family: abril-fatface;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
}
ul li a:active {
	text-decoration: underline;
}
#footer-col-1 p a {
	color: #6F5A6B;
	text-decoration: none;
	font-size: 26px;
}
#footer-col-1 p a:hover {
	text-decoration: underline;
}
header #tagline p {
	font-family: abril-fatface;
	font-style: normal;
	font-weight: 400;
	font-size: 28px;
}
