@charset "UTF-8";
html, html * {
	font-family: "Rubik", "Verdana", sans-serif;
}
#wrapper {
	width: 1025px;
	background-image: url(images/halftone.png);
	background-repeat: repeat;
	margin-left: auto;
	margin-right: auto;
}
body {
	background-color: #CFDFE6;
	margin-top: -37px;
}
header {
	margin-top: 34px;
}
main {
	position: relative;
}
footer {
	background-color: #669AAD;
	clear: both;
	height: 371px;
	position: relative;
}
#logo {
	float: left;
	margin-left: 40px;
	margin-top: 40px;
}
#banner img {
	margin-left: 85px;
	margin-right: 40px;
	margin-top: 45px;
}
#navbar {
	background-color: #F39C6C;
	height: 33px;
	overflow-x: hidden;
	overflow-y: hidden;
	padding-left: 110px;
	margin-top: 15px;
}
#navbar a {
	float: left;
	text-decoration: none;
	display: block;
	text-align: center;
	padding-left: 50px;
	padding-right: 50px;
	line-height: 33px;
	color: #FFFFFF;
	border-right: 1px solid #FFFFFF;
	font-size: 13px;
}
#navbar a:hover {
	background-color: #CB91B6;
	color: #232323;
}
#currentpage {
	background-color: #B55A96;
}
#ad {
	margin-left: 25px;
	height: 916px;
	padding-top: 77px;
	width: 151px;
	float: left;
	margin-top: 100px;
	margin-bottom: 120px;
}
#main-col1 {
	float: left;
	margin-left: 35px;
	margin-top: 35px;
	font-size: 12px;
	width: 350px;
}
#main-col2 {
	width: 408px;
	float: right;
	font-size: 12px;
	margin-top: 185px;
	margin-right: 49px;
}
ul li a {
	color: #EDAE8A;
	text-decoration: none;
}
ul li a:hover {
	color: #C898B2;
}
#footer-top {
	background-color: #F39C6C;
	height: 33px;
	padding-left: 110px;
	overflow-x: hidden;
	overflow-y: hidden;
	clear: both;
}
#footer-top a {
	display: block;
	padding-left: 50px;
	padding-right: 50px;
	float: left;
	color: #FFFFFF;
	text-align: center;
	text-decoration: none;
	line-height: 33px;
	border-right: 1px solid #FFFFFF;
	font-size: 13px;
}
#footer-top a:hover {
	color: #232323;
	background-color: #CB91B6;
}
#footer-nav {
	background-color: #B55A96;
}
#footer-bottom-col2 {
	float: left;
	width: 220px;
	margin-left: 77px;
	margin-right: 40px;
	color: #FFFFFF;
	font-size: 13px;
	margin-top: 45px;
}
#footer-bottom-col2 a {
	color: #FFFFFF;
	text-decoration: none;
}
#footer-bottom-col2 a:hover {
	color: #626262;
}
#footer-bottom-col3 {
	width: 220px;
	float: left;
	color: #FFFFFF;
	font-size: 15px;
}
#footer-bottom-col3 a {
	color: #FFFFFF;
	text-decoration: none;
}
#footer-bottom-col3 a:hover {
	color: #626262;
	text-decoration: none;
}
#footer-bottom-col4 img {
	margin-left: 62px;
	margin-top: 75px;
}
.home {
	border-left: 1px solid #FFFFFF;
}
.img {
	margin-right: 324px;
	margin-left: 192px;
	margin-top: 15px;
}
.contact {
	font-size: 15px;
	margin-right: 19px;
	text-align: center;
	font-weight: 600;
}
.email-2 {
	margin-right: 19px;
	font-size: 15px;
	text-align: center;
	font-weight: 600;
	margin-left: -17px;
}
.athens {
	padding-left: 49px;
	margin-top: -16px;
}
.beginning {
	border-bottom: 5px solid #C795B0;
	margin-top: 70px;
	padding-left: 23px;
	font-weight: 500;
}
.css {
	margin-top: 91px;
}
.design {
	margin-top: 50px;
}
.use {
	margin-top: 100px;
}
.host {
	margin-top: 54px;
}
.footer-insta {
	margin-right: 20px;
	position: absolute;
	top: 132px;
	left: 373px;
}
.footer-face {
	position: absolute;
	top: 184px;
	left: 375px;
}
.footer-twitter {
	position: absolute;
	top: 232px;
	left: 377px;
}
.footer-linked {
	position: absolute;
	top: 283px;
	left: 378px;
}
